.stats-card {
    width: 800px;
    height: 200px; 
    margin: 20px auto; 
    padding: 50px;
    background-color: #fff;  
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    text-align: center;  
    border: 1px solid #ddd;  

}

.stats-card h2 {
    margin-bottom: 10px;
    font-size: 25px;
    color: #333;
}

@media (min-width: 768px) {
    .stats-card {
        width: 400px;  
    }
}